@charset "UTF-8";

/* *** グローバルメニュー
----------------------------------------------------------- */

/* メニューの基本部分
----------------------------------------------------------- */
#globalmenu {
	height: 43px;
	font-size: small;
	font-weight: bold;
	background: transparent url(images/navi_right.png) no-repeat top right;
	padding: 0px 0px;
	margin: 0px 1px;
}

/* リスト ul
----------------------------------------------------------- */
#globalmenu ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	width: auto;
}

/* リスト li
----------------------------------------------------------- */
#globalmenu ul li {
	float: left;
	margin: 0;
	height: 43px;
	background: transparent url(images/navi.png) no-repeat;
}

/* リスト リンク
----------------------------------------------------------- */
#globalmenu ul li a {
	display: block;
	float: left;
	color: #666;
	text-decoration: none;
	padding: 10px 15px 2px 35px;
	height: 27px;
}
#globalmenu ul li#first {
	background: url(images/navi_left.png) no-repeat top left;
}

/* リスト リンク：カレント
----------------------------------------------------------- */
#globalmenu ul li a:hover,#globalmenu ul li a.current {
	color:#B30000;
	height: 31px;
	background: url(images/navi_on.png) no-repeat top left;
}
#globalmenu ul li#first a:hover,#globalmenu ul li#first a.current {
	color:#B30000;
	height: 31px;
	background: url(images/navi_left_on.png) no-repeat top left;
}
#globalmenu ul li#last a:hover {
	color:#B30000;
	height: 31px;
	background: url(images/navi_on.png) no-repeat top left;
}
