<{* 使い方の説明 *}>

<div class="footeredit_help">
<fieldset>

【モジュール概要】
	<blockquote class="footeredit_help_block">
	フッターの編集ができます。<br />
	</blockquote>

【モジュールの使い方】
	<blockquote class="footeredit_help_block">
	簡易エディタでの編集、HTML 埋め込みでの編集が選べます。<br />
	簡易エディタの各項目はHTML タグが使用できます。<br />
	HTML 埋め込みでは{NC2ドキュメントルート}/commons/css/style.css を編集することで、独自のCSS を組み込むことができます。<br />
	</blockquote>

【ライセンス】
	<blockquote class="footeredit_help_block">
	この「フッターエディタ」モジュールは株式会社オープンソース・ワークショップがNetCommons2ライセンスとして提供します。<br />
	<a href="http://www.netcommons.org/license.txt" target="_blank">http://www.netcommons.org/license.txt</a><br />
	</blockquote>

【HTML 埋め込みのサンプルコード(コピーして使用してください)】
	<blockquote class="footeredit_help_block">
<textarea class="footeredit_sample">
<div class="footer_add">
    <div class="footer_add_cont">
        <h3>
            サンプルサイト フッター
        </h3>
        <p>
            Sample site footer.
        </p>
        <p class="ja_copy">
            Copyright &copy; Sample site All right reserved.
        </p>
    </div>
</div>
</textarea>
	</blockquote>

<br />
<div class="footeredit_copyright">Powered by <a href="http://opensource-workshop.jp/" target="_blank">OpenSource-WorkShop.jp</a>

</fieldset>
</div>

<{include file="footeredit_script.html"}>