@charset "UTF-8";

/* *** NetCommons スタイル上書き
----------------------------------------------------------- */

/* 全体的な設定
----------------------------------------------------------- */
table {
    font-size: 16px;
}

