<{strip}>
<form id="testeeForm<{$id}>" class="outerdiv" action="#" onsubmit="return false;">
<input type="hidden" name="action" value="testee_action_edit_allocation" />
<input type="hidden" name="testee_id" value="<{$action.testee_id}>" />

	<div class="nowrap bold"><{$action.testee_name}></div>
	<div class="top_description">
		割付を行う場合、この画面にて指定できます。
	</div>

	<fieldset>
		<legend><div class="nowrap bold">割付設定</div></legend>

		<input type="radio" name="allocation_flag" value="0" id="testee_radio_allocation_noexecute"    <{if $action.allocation.allocation_flag==0}>checked<{/if}>><label for="testee_radio_allocation_noexecute">割付設定を使用しない</label><br/>
		<input type="radio" name="allocation_flag" value="1" id="testee_radio_allocation_minimization" <{if $action.allocation.allocation_flag==1}>checked<{/if}>><label for="testee_radio_allocation_minimization">最小化法を使用する</label><br/>
		<input type="radio" name="allocation_flag" value="2" id="testee_radio_allocation_block"        <{if $action.allocation.allocation_flag==2}>checked<{/if}>><label for="testee_radio_allocation_block">置換ブロック法を使用する</label>

		<div class="btn-bottom" style="text-align: left; margin-left: 20px;">
			<input type="button" onclick="mdbCls['<{$id}>'].selectAllocation();" value="更新" />
		</div>

	</fieldset>
	<br />
</form>

<{if $action.allocation.allocation_flag==1}>
	<{include file="testee_view_edit_allocation_minimization.html"}>
<{elseif $action.allocation.allocation_flag==2}>
	<{include file="testee_view_edit_allocation_block.html"}>
<{/if}>
<{include file="../testee_script.html"}>

<{/strip}>
<script class="nc_script" type="text/javascript">
<{*
	mdbCls['<{$id}>'].testSettingChange();
	mdbCls['<{$id}>'].testAllocationChange();
*}>
</script>
